@import url("https://fonts.googleapis.com/css?family=Tangerine");

* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.navbar-brand{
    font-family: 'Nosifer', cursive;
    font-size:x-large;
}
.navbar{
    background-color: rgb(0, 0, 0);
}
.custom-secondary{
    background-color: slateblue;
}

#navbarNav > ul li .nav-link {
    color: #1efc1e;
    
    font-size: x-large;
    
} 

.menu {
    margin-left: 34%;
}


.navbar :hover{
    color: #ffffff!important;
    
    
}

.navbar-brand {
    color: #1efc1e;
}

.dropdown-menu{

    background-color: #000000;
    
}

.dropdown-item{
    color: #1efc1e;
}
.main {
    text-align: center;
    color: #1efc1e;
    background-color: #000000;
    padding: 05px 05px;
    margin: 30px 10px;
    box-shadow: 0 5px 20px #b80c09;
    border-radius: 4px;
    max-width: 1290px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

}

.header {
    text-align: center;
    font-family: 'Nosifer', cursive;
    color: #1efc1e;
    background-color: #000000;
    padding: 05px 05px;
    margin: 30px 10px;
    box-shadow: 0 5px 20px #b80c09;
    border-radius: 4px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;


}

.card-body {
    color: #1efc1e;
}

.card-img-top{
    height: 18rem;
}

.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px #b80c09;
    transition: 0.3s ease-in-out;
    background-color: black;
    border-radius: 4px;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    border-radius: 4px;
    height: 200px;
    width: 245px;
    
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #1efc1e;
    font-size: medium;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}

.gridbg {
    background-color: black;
    color: #1efc1e;
    box-shadow: 0 5px 20px #b80c09;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1300px;
}

.carouselshadow {
    box-shadow: 0 5px 20px #b80c09;
    border-radius: 10px;
}

.footertext {
    color: #1efc1e;
    margin-top: 10px;

}

#mainBody {
    color: #1efc1e;
    background-color: #000000;
    box-shadow: 0 5px 20px #b80c09;
    border-radius: 4px;

}


.carouseltext {
    color: #1efc1e;
    font-family: 'Nosifer', cursive;
    
}

.categories {

    color: #1efc1e;
    text-decoration: #1efc1e;
    font-family: 'Nosifer', cursive;
}

.btn-dark {
    background-color: #1efc1e;
    color: #000000;
    
}

.btn-custom-action {
    color: #ffffff;
}

.btn-custom-primary {
    color: #ffffff;
}

.card-title {

    color: #1efc1e;
    font-family: 'Nosifer', cursive;

}